
<html><div class="container">
       <div class="col-md-6">
        <form class="navbar-form" role="search" action="/Usersearch">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter the attributes of person" name="search" id="search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">Search for user<i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
</div></html>
